@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}
button {
  background: none;
  outline: none;
  color: white;
  text-transform: uppercase;
  border: 1px solid whitesmoke;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s ease;
}
button:hover {
  color: black;
  background: whitesmoke;
}
a {
  text-decoration: none;
}
body {
  margin: 0 auto;
  text-align: center;
}
/*************  NAV  ****************/
nav {
  max-width: 1100px;
  margin: 0 auto;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
nav li {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 900;
  padding: 20px 0 ;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
}
nav li:first-child {
  color: #4B0099;
}
nav li:first-child:before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: #4B0099;
  transform: translateY(-20px);
}
nav li:hover::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: #4B0099;
  transform: translateY(-20px);
}
nav li:last-child::before {
  background: none;
}
#language {
  background-color: #D9D9D9;
  margin: 7px;
  padding: 8px 16px;
  border-radius: 50px;
}
#language:hover {
  transform: scale(1.1);
}

/*****************  HEADER  ******************/
.main-header {
  background: url(./assets/img/bg.jpg) fixed center/cover;
  color: white;
  padding: 60px;
}
h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 30px 35px;
  font-weight: 700;
}
.main-header button{
  padding: 15px 30px;
  letter-spacing: 2px;
}
.main-header i {
  transform: translateX(5px);
}
.header-text {
  padding: 45px 0;
  max-width: 1100px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 30px;
}

/**************** ICON PART  ******************/
.icon-part {
  background: #111111;
  color: whitesmoke;
  padding: 65px 0px;
}
.icon-part-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.lip-logo {
  margin-bottom: 30px;
}
.list-icon-part {
  margin: 25px;
}
.icon-part h3 {
  text-transform: uppercase;
  font-weight: 700;
}
.icon-part p {
  width: 80%;
  margin: 10px auto 20px;
}
.icon-part button {
  padding: 9px 32px;
}

/*************** NEWS PART  *************/
.news-part {
  background: #F5F5F5;
  padding: 80px 0 45px;
}
.header-news {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 auto;
}
.left-part {
  line-height: 30px;
}
.left-part h2 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: left;
}
.left-part p {
  font-weight: 600;
  font-size: 0.9rem;
  text-align: left;
}
.right-part button {
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  letter-spacing: 1px;
}
.right-part button:hover {
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.7);
}
.right-part i {
  transform: translateX(5px);
}
/* .main-news {
  padding: 65px 0;
  margin: 0 auto;
} */
.main-news-container {
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  margin: 45px auto;
}
.main-news-container > div {
  position: relative;
  max-width: 23%;
}
.mn-pic img {
  object-fit: cover;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 10px #888;
}
.main-news-container h4 {
  margin: 15px 0;
  text-align: left;
}
.main-news-container p {
  text-align: left;
  font-size: 0.8rem;
  line-height: 20px;
  margin-bottom: 45px;
}
.link {
  text-align: left;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  transition: 0.4s ease;
}
.link i {
  transform: translateX(5px);
}
.link:hover {
  transform: scale(1.1);
}